<app-loading></app-loading>
<div class="container-fluid h-100 margin-top">
  <app-header-caac-selection (headerChanged)="onChangeHeader($event)"></app-header-caac-selection>
    <div class="card card-body marginBottom">
        <div (click)="hideFormAlert()" id="formAlert1" class="alert alert-danger formErrorMessages" role="alert">
            <ul style="margin-bottom: 0">
              <li *ngFor="let message of formMessages">
                {{message}}
              </li>
            </ul>
          </div>
        <h5>¿Cuántas personas fueron alcanzadas por las siguientes GESTIONES DE TRÁMITES realizadas en la CAAC en el mes?</h5><br>
      <form>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="dni-input" >DNI</label>
            <input class="form-control" type="number" [(ngModel)]="hojaMensualTramiteDNI.cantidad" id="dni-input" [readonly]="readonlyControl">
          </div>
          <div class="form-group col-md-4">
            <label for="insercion-input" >Inserción laboral</label>
            <input class="form-control" type="number" id="insercion-input" [(ngModel)]="hojaMensualTramiteInsercionLaboral.cantidad" [readonly]="readonlyControl">
          </div>
          <div class="form-group col-md-3">
            <label for="subsidios-input" >Subsidios</label>
            <input class="form-control" type="number" [(ngModel)]="hojaMensualTramiteSubsidios.cantidad" id="subsidios-input" [readonly]="readonlyControl">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="provisionales-input">Servicios previsionales (ANSES/CUIL)</label>
            <input class="form-control" type="number" [(ngModel)]="hojaMensualTramiteServiciosPrevisionales.cantidad" id="provisionales-input" [readonly]="readonlyControl">
          </div>
          <div class="form-group col-md-4">
            <label for="becas-input">Becas</label>
            <input class="form-control" type="number"  id="becas-input" [(ngModel)]="hojaMensualTramiteBecas.cantidad" [readonly]="readonlyControl">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="gestiones-input" >Gestiones para la inclusión educativa</label>
            <input class="form-control" type="number" id="gestiones-input" [(ngModel)]="hojaMensualTramiteGestiones.cantidad" [readonly]="readonlyControl">
          </div>
          <div class="form-group col-md-4">
            <label for="certificado-input" >Certificado de discapacidad</label>
            <input class="form-control" type="number"  id="certificado-input" [(ngModel)]="hojaMensualTramiteCertificadoDiscapacidad.cantidad" [readonly]="readonlyControl">
          </div>
          <div class="form-group col-md-4">
            <label for="otros-input">Otros trámites</label>
            <input class="form-control" type="number" id="otros-input" [(ngModel)]="hojaMensualTramiteOtro.cantidad" [readonly]="readonlyControl">
          </div>
        </div>
      </form>
    </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert2" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <div class="card card-body marginBottom">
      <h5>¿Cuáles son los otros trámites?</h5>
      <br>
      <div class="form-group">
        <textarea class="form-control" [(ngModel)]="hojaMensualObservaciones.otrosTramites" id="exampleFormControlTextarea1" rows="3" [readonly]="readonlyControl"></textarea>
      </div>
    </div>
  </div>
    
    <div class="card card-body marginBottom">
        <div (click)="hideFormAlert()" id="formAlert3"  class="alert alert-danger formErrorMessages" role="alert">
            <ul style="margin-bottom: 0">
              <li *ngFor="let message of formMessages">
                {{message}}
              </li>
            </ul>
          </div>
        <h5>¿Cuántas prestaciones de ALIMENTACIÓN EN SEDE se realizaron en la CAAC en el mes y a cúantas personas alcanzó?</h5>
        <br>
      <div class="form-row">
          <form >
            <div class="form-row">
                <label class="col-9 text-center"><b>Cantidad de prestaciones semanales</b></label>
                <div class="form-group ">
                  <label for="desayuno-input">Desayuno</label>
                  <input class="form-control" type="number" id="desayuno-input" [(ngModel)]="hojaMensualAlimentacionDesayuno.cantidadPrestaciones" [readonly]="readonlyControl">
                  <label for="almuerzo-input" >Almuerzo</label>
                  <input class="form-control" type="number" id="almuerzo-input" [(ngModel)]="hojaMensualAlimentacionAlmuerzo.cantidadPrestaciones" [readonly]="readonlyControl">
                  <label for="merienda-input">Merienda</label>
                  <input class="form-control" type="number"  id="merienda-input" [(ngModel)]="hojaMensualAlimentacionMerienda.cantidadPrestaciones" [readonly]="readonlyControl">
                  <label for="cena-input">Cena</label>
                  <input class="form-control" type="number" id="cena-input" [(ngModel)]="hojaMensualAlimentacionCena.cantidadPrestaciones" [readonly]="readonlyControl">
                </div>
            </div>
          </form>

          <form>
            <div class="form-row">
                <label class="col-9 text-center"><b>Cantidad de personas que recibieron la prestación al mes</b></label>
                <div class="form-group ">
                  <label for="desayuno2-input">Desayuno</label>
                  <input class="form-control" type="number" id="desayuno2-input" [(ngModel)]="hojaMensualAlimentacionDesayuno.cantidadPersonas" [readonly]="readonlyControl">
                  <label for="almuerzo2-input" >Almuerzo</label>
                  <input class="form-control" type="number" id="almuerzo2-input" [(ngModel)]="hojaMensualAlimentacionAlmuerzo.cantidadPersonas" [readonly]="readonlyControl">
                  <label for="merienda-input">Merienda</label>
                  <input class="form-control" type="number" id="merienda2-input" [(ngModel)]="hojaMensualAlimentacionMerienda.cantidadPersonas" [readonly]="readonlyControl">
                  <label for="cena2-input">Cena</label>
                  <input class="form-control" type="number" id="cena2-input" [(ngModel)]="hojaMensualAlimentacionCena.cantidadPersonas" [readonly]="readonlyControl">
                </div>
            </div>
            </form>
      </div>
    </div>
    
    <div class="card card-body marginBottom">
        <div (click)="hideFormAlert()" id="formAlert4"  class="alert alert-danger formErrorMessages" role="alert">
            <ul style="margin-bottom: 0">
              <li *ngFor="let message of formMessages">
                {{message}}
              </li>
            </ul>
          </div>
      <h5>Observaciones sobre ALIMENTACIÓN EN SEDE</h5>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea2" [(ngModel)]="hojaMensualObservaciones.alimentacionEnSede" rows="2" [readonly]="readonlyControl"></textarea>
      </div>
    </div>

    <div (click)="hideFormAlert()" id="formAlert5" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <div class="card card-body marginBottom">
      <h5>Especificar cantidades mensuales entregadas según tipo de ALIMENTACIÓN FUERA DE SEDE</h5>
      <br>
      <form>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="viandas-input" >Viandas (Ollas populares, acompañamiento en calle, etc.)</label>
              <input class="form-control" type="number"[(ngModel)]="hojaMensualAlimentacionViandas.cantidadPrestaciones"  id="viandas-input" [readonly]="readonlyControl">
            </div>
            <div class="form-group col-md-4">
                <label for="bolsones-input">Bolsones</label>
                <input class="form-control" type="number" id="bolsones-input" [(ngModel)]="hojaMensualAlimentacionBolsones.cantidadPrestaciones" [readonly]="readonlyControl">
            </div>
          </div>
      </form>
    </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert6" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <div class="card card-body marginBottom">
      <h5>Observaciones sobre ALIMENTACIÓN FUERA DE SEDE</h5>
      <br>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea3" rows="2"  [(ngModel)]="hojaMensualObservaciones.alimentacionFueraDeSede" [readonly]="readonlyControl"></textarea>
      </div>
    </div>
  </div>
    <div class="text-right" style="width:100%">
      <button class="Button -sm -raised -primary -rounded" (click)="onClickGuardar()" [disabled]="readonlyControl"><i class="far fa-save"></i><span> Guardar</span></button>
      <button class="Button -sm -default -outline -rounded" (click)="onClickSiguiente()" [disabled]="readonlyControl">Siguiente</button>
    </div>
 
</div>

<!-- CONFIRM DIALOG -->
<div id ="confirmDialogSiguiente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Confirmar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>¿Desea guardar los cambios antes de avanzar?</p>
      </div>

      <div class="modal-footer">
        <button class="Button -sm -default -outline -rounded" click="siguiente()" data-dismiss="modal">No</button>
        <button class="Button -sm -primary -raised -rounded" id="submit" (click)="onClickConfirmDialogSiguiente()">Si</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
