<div class="SidebarContainer">
  <aside class="DashboardSidebar" >
    <header class="SidebarHeader" style="display: contents !important;">
      <h2 class="Title"><img src="/assets/img/logo_SEDRONAR_2018.png" style="width: 130px; margin-left: 20%; margin-right: 20%;"></h2>
    </header>
    <div class="SidebarContent">
      <nav class="SidebarNav" id="SidebarNav">
        <a routerLink="/consultas" class="NavLink" [ngClass]="{'-active': selectedItem === 'consultas'}" (click)="selectedItem = 'consultas'">
          <i class="fas fa-home NavIcon"></i>
          <span> Consultas </span>
        </a>
        <div class="Divider"></div>
        <a href="" class="NavLink">
          <i class="fas fa-code NavIcon -color-light-blue-300"></i>
          <span> Other Versions </span>
        </a>
     </nav>
    </div>
    <footer id="SidebarFooter" class="SidebarFooter">
      <nav class="SidebarFooterNav">
        <a href="" id="SidebarToggleCompactLink" class="NavLink LinkToggleCompact" data-placement="top" data-trigger="hover" title="Toggle sidebar">
          <i class="pe-7s-angle-left Icon" aria-hidden="true"></i>
        </a>
      </nav>
    </footer>
  </aside>
</div>
