<div class="SidebarContainer">
  <aside class="DashboardSidebar" >
    <header class="SidebarHeader" style="display: contents !important;">
      <h2 class="Title"><img src="assets/img/logo_SEDRONAR_2018.png" style="width: 130px; margin-left: 20%; margin-right: 20%;"></h2>
    </header>
    <div class="SidebarContent">
      <nav class="SidebarNav" id="SidebarNav">
        <a routerLink="{{getUrlConsultas()}}" class="NavLink" [ngClass]="{'-active': selectedItem === 'consultas'}" (click)="selectedItem = 'consultas'">
          <i class="fas fa-home NavIcon"></i>
          <span> Consultas </span>
        </a>

        <div class="Divider"></div>

        <div class="NavGroup">
          <a href="" class="NavLink" [ngClass]="{'-active': selectedItem === 'mensual'}">
            <i class="fas fa-cog NavIcon"></i>
            <span> Mensual </span>
          </a>
          <nav class="Nav">
            <div class="CompactNavGroupHeader">
              <h4 class="NavTitle">Mensual</h4>
              <a href="" class="Button -dismiss DismissBtn">
                <i class="fas fa-cog Icon"></i>
              </a>
            </div>
            <a routerLink="{{getUrlMensualSeccionA()}}" class="NavLink LinkToggleCompact" [ngClass]="{'-active': selectedItem === 'mensualSeccionA'}" (click)="selectedItem = 'mensualSeccionA'" data-placement="top" title="Datos iniciales" data-toggle="tooltip"> Sección A - Datos iniciales</a>
            <a routerLink="{{getUrlMensualSeccionB()}}" class="NavLink LinkToggleHelp" [ngClass]="{'-active': selectedItem === 'mensualSeccionB'}" (click)="selectedItem = 'mensualSeccionB'" data-placement="top" title="Población asistida" data-toggle="tooltip"> Sección B - Población asistida</a>
            <div class="NavGroup">
              <a href="#" class="NavLink" [ngClass]="{'-active': selectedItem === 'seccionC'}">
                <span> Sección C - Gestiones o Prácticas </span>
              </a>
              <nav class="Nav">
                <h4 class="CompactNavGroupName">
                  Sección C - Gestiones o Prácticas
                  <a href="" class="Button ButtonDismiss DismissBtn">
                    <i class="fas fa-times"></i>
                  </a>
                </h4>
                <a routerLink="{{getUrlMensualSeccionC1()}}" class="NavLink " [ngClass]="{'-active': selectedItem === 'mensualSeccionC1'}" (click)="selectedItem = 'mensualSeccionC1'"> Sección C1 - Gestiones salud, asesoramiento </a>
                <a routerLink="{{getUrlMensualSeccionC2()}}" class="NavLink " class="NavLink " [ngClass]="{'-active': selectedItem === 'mensualSeccionC2'}" (click)="selectedItem = 'mensualSeccionC2'"> Sección C2 </a>
                <a routerLink="{{getUrlMensualSeccionC3()}}" class="NavLink " class="NavLink " [ngClass]="{'-active': selectedItem === 'mensualSeccionC3'}" (click)="selectedItem = 'mensualSeccionC3'"> Sección C3 </a>
                <a routerLink="{{getUrlMensualSeccionC4()}}" class="NavLink " class="NavLink " [ngClass]="{'-active': selectedItem === 'mensualSeccionC4'}" (click)="selectedItem = 'mensualSeccionC4'"> Sección C4 </a>
                <a routerLink="{{getUrlMensualSeccionC5()}}" class="NavLink " class="NavLink " [ngClass]="{'-active': selectedItem === 'mensualSeccionC5'}" (click)="selectedItem = 'mensualSeccionC5'"> Sección C5 </a>
                <a routerLink="{{getUrlMensualSeccionC6()}}" class="NavLink " class="NavLink " [ngClass]="{'-active': selectedItem === 'mensualSeccionC6'}" (click)="selectedItem = 'mensualSeccionC6'"> Sección C6 </a>
              </nav>
            </div>
            <a routerLink="{{getUrlMensualSeccionD()}}" class="NavLink " [ngClass]="{'-active': selectedItem === 'mensualSeccionD'}" (click)="selectedItem = 'mensualSeccionD'"> Sección D </a>
          </nav>
        </div>

        <div class="Divider"></div>

        <div class="NavGroup">
          <a href="#" class="NavLink" [ngClass]="{'-active': selectedItem === 'estructural'}">
            <i class="fas fa-cog NavIcon"></i>
            <span> Estructural </span>
          </a>
          <nav class="Nav">
            <div class="CompactNavGroupHeader">
              <h4 class="NavTitle"> Estructural </h4>
              <a href="" class="Button -dismiss DismissBtn">
                <i class="fas fa-cog Icon"></i>
              </a>
            </div>
            <a routerLink="{{getUrlEstructuralSeccionA()}}" class="NavLink " [ngClass]="{'-active': selectedItem === 'estructuralSeccionA'}" (click)="selectedItem = 'estructuralSeccionA'"> Sección A </a>
            <a routerLink="{{getUrlEstructuralSeccionB()}}" class="NavLink " class="NavLink " [ngClass]="{'-active': selectedItem === 'estructuralSeccionB'}" (click)="selectedItem = 'estructuralSeccionB'"> Sección B </a>
            <a routerLink="{{getUrlEstructuralSeccionCD()}}" class="NavLink " class="NavLink " [ngClass]="{'-active': selectedItem === 'estructuralSeccionCD'}" (click)="selectedItem = 'estructuralSeccionCD'"> Sección C/D </a>
            <div class="NavGroup">
              <a href="#" class="NavLink" [ngClass]="{'-active': selectedItem === 'estructuralSeccionE'}">
                <i class="fas fa-cog NavIcon"></i>
                <span> Sección E </span>
              </a>
              <nav class="Nav">
                <div class="CompactNavGroupHeader">
                  <h4 class="NavTitle"> Sección E </h4>
                  <a href="" class="Button -dismiss DismissBtn">
                    <i class="fas fa-cog Icon"></i>
                  </a>
                </div>
                <a routerLink="{{getUrlEstructuralSeccionE()}}" class="NavLink " [ngClass]="{'-active': selectedItem === 'estructuralSeccionE1'}" (click)="selectedItem = 'estructuralSeccionE1'"> Sección E1 </a>
                <a routerLink="{{getUrlEstructuralSeccionE2()}}" class="NavLink " class="NavLink " [ngClass]="{'-active': selectedItem === 'estructuralSeccionE2'}" (click)="selectedItem = 'estructuralSeccionE2'"> Sección E2 </a>
                <a routerLink="{{getUrlEstructuralSeccionE3()}}" class="NavLink " class="NavLink " [ngClass]="{'-active': selectedItem === 'estructuralSeccionE3'}" (click)="selectedItem = 'estructuralSeccionE3'"> Sección E3 </a>
              </nav>
            </div>
            <a routerLink="{{getUrlEstructuralSeccionF()}}" class="NavLink " [ngClass]="{'-active': selectedItem === 'estructuralSeccionF'}" (click)="selectedItem = 'estructuralSeccionF'"> Sección F </a>
            <a routerLink="{{getUrlEstructuralSeccionG()}}" class="NavLink " [ngClass]="{'-active': selectedItem === 'estructuralSeccionG'}" (click)="selectedItem = 'estructuralSeccionG'"> Sección G </a>
            <a routerLink="{{getUrlEstructuralSeccionH()}}" class="NavLink " [ngClass]="{'-active': selectedItem === 'estructuralSeccionH'}" (click)="selectedItem = 'estructuralSeccionH'"> Sección H </a>
          </nav>
        </div>

        <div class="Divider"></div>

        <a routerLink="{{getUrlCierrePeriodo()}}" class="NavLink " [ngClass]="{'-active': selectedItem === 'mensualCierrePeriodo'}" (click)="selectedItem = 'mensualCierrePeriodo'">
          <i class="fas fa-calendar-alt NavIcon"></i>
          <span> Cierre Período </span>
        </a>

      </nav>
    </div>
    <footer id="SidebarFooter" class="SidebarFooter">
      <nav class="SidebarFooterNav">
        <a href="" id="SidebarToggleCompactLink" class="NavLink LinkToggleCompact" data-placement="top" data-trigger="hover" title="Toggle sidebar">
          <i class="pe-7s-angle-left Icon" aria-hidden="true"></i>
        </a>
      </nav>
    </footer>
  </aside>
</div>
