<app-loading></app-loading>
<div class="container-fluid h-100 margin-top">
  <app-header-caac-selection (headerChanged)="onChangeHeader($event)"></app-header-caac-selection>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert1" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>¿Cuántos ACOMPAÑAMIENTOS EN PENALES O COMISARÍAS se realizaron en el mes y a cuántas personas se alcanzó?</h5>
    <br>
    <div class="form-row">
        <form >
          <div class="form-row">
              <label class="col-8 text-center"><b>Cantidad de acompañamientos en el mes</b></label>
              <div class="form-group ">
                <label for="comisarias-input">Acompañamiento en comisarías</label>
                <input class="form-control" name="comisarias-input" type="number" id="comisarias-input" [(ngModel)]="hojaMensualAcompaniamientoComisarias.cantidadGestiones" [readonly]="readonlyControl">
                <label for="penales-input">Acompañamiento en penales</label>
                <input class="form-control" name="penales-input" type="number" id="penales-input" [(ngModel)]="hojaMensualAcompaniamientoPenales.cantidadGestiones" [readonly]="readonlyControl">
              </div>
          </div>
        </form>

        <form>
          <div class="form-row">
              <label class="col-8 text-center"><b>Personas aproximadas</b></label>
              <div class="form-group ">
                <label for="comisarias2-input">Acompañamiento en comisarías</label>
                <input class="form-control" name="comisarias2-input" type="number" id="comisarias2-input" [(ngModel)]="hojaMensualAcompaniamientoComisarias.cantidadPersonas" [readonly]="readonlyControl">
                <label for="penales2-input">Acompañamiento en penales</label>
                <input class="form-control"  type="number" name="penales2-input" id="penales2-input" [(ngModel)]="hojaMensualAcompaniamientoPenales.cantidadPersonas" [readonly]="readonlyControl">
              </div>
          </div>
          </form>
    </div>
  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert2" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>¿A cuántas personas se alcanzó con las siguientes ACTIVIDADES EN PENALES O COMISARÍAS en el mes?</h5>
    <br>
    <div class="form-group row margin-top">
      <label class="col-12 text-center"><b>Personas aproximadas</b></label>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
            <label for="talleres-input">Talleres/charlas</label>
            <input class="form-control"  name="talleres-input" type="number" id="talleres-input" [(ngModel)]="hojaMensualAcompaniamientoTalleres.cantidadPersonas" [readonly]="readonlyControl">
        </div>
        <div class="col">
            <label for="actividades-input">Actividades productivas</label>
        <input class="form-control"  name="actividades-input" type="number" id="actividades-input" [(ngModel)]="hojaMensualAcompaniamientoActividadesProductivas.cantidadPersonas" [readonly]="readonlyControl">
        </div>
        <div class="col">
            <label for="capacitacion-input">Capacitación</label>
            <input class="form-control"  name="capacitacion-input" type="number" id="capacitacion-input" [(ngModel)]="hojaMensualAcompaniamientoCapacitacion.cantidadPersonas" [readonly]="readonlyControl">
          </div>
      </div>
    </div>

  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert3"  class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>ACTIVIDADES EN PENALES O COMISARÍAS. Especificar talleres/charlas realizados</h5>
    <br>
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea" name="exampleFormControlTextarea" rows="2" [(ngModel)]="hojaMensualObservaciones.actividadesTalleresComisaria" [readonly]="readonlyControl"></textarea>
    </div>
  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert4"  class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>ACTIVIDADES EN PENALES O COMISARÍAS. Especificar actividades productivas llevadas adelante</h5>
    <br>
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea2" name="exampleFormControlTextarea2" rows="2" [(ngModel)]="hojaMensualObservaciones.actividadesProductivasComisaria" [readonly]="readonlyControl"></textarea>
    </div>
  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert5"  class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>ACTIVIDADES EN PENALES O COMISARÍAS. Especificar capacitaciones realizadas</h5>
    <br>
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea3" name="exampleFormControlTextarea3" rows="2" [(ngModel)]="hojaMensualObservaciones.actividadesCapacitacionComisaria" [readonly]="readonlyControl"></textarea>
    </div>
  </div>

  <div class="text-right" style="width:100%">
    <button class="Button -sm -primary -raised -rounded" (click)="onClickGuardar()" [disabled]="readonlyControl"><i class="far fa-save"></i><span> Guardar</span></button>
    <button class="Button -sm -default -outline -rounded" (click)="onClickSiguiente()" [disabled]="readonlyControl">Siguiente</button>
  </div>
</div>

<!-- CONFIRM DIALOG -->
<div id ="confirmDialogSiguiente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Confirmar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>¿Desea guardar los cambios antes de avanzar?</p>
      </div>

      <div class="modal-footer">
        <button class="Button -sm -default -outline -rounded" click="siguiente()" data-dismiss="modal">No</button>
        <button class="Button -sm -primary -raised -rounded" id="submit" (click)="onClickConfirmDialogSiguiente()">Si</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
