<div class="box box-primary card card-block">
  <br>
  <h3 id="title" class="text-center">{{TITLE}}</h3>
  <table id={{this.TABLE_ID}} class="table table-striped table-sm table-bordered table-hover" style="width:100%" width="100%"></table>


  <!-- POPUP -->
  <div class="modal fade bd-example-modal-lg" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">{{EDICION_CAAC}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form class="form-horizontal">

            <div id="formAlert" (click)="hideFormAlert()" class="alert alert-danger formErrorMessages" role="alert">
              <ul>
                <li *ngFor="let message of formMessages">
                  {{message}}
                </li>
              </ul>
            </div>

            <div *ngIf="requisitoParaPopup">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group required row">
                      <label for="nomcaac" class="col-5 col-form-label control-label">Nombre CAAC</label>
                      <div class="col-7">
                        <input type="text" [(ngModel)]="requisitoParaPopup.casa.nomcaac" name="nomcaac" class="form-control" id="nomcaac" placeholder="Nombre CAAC">
                      </div>
                    </div>

                    <div class="form-group required row">
                      <label for="perjuridica" class="col-5 col-form-label control-label">Personería Juridica</label>
                      <div class="col-7">
                        <input type="text" [(ngModel)]="requisitoParaPopup.casa.perjuridica" name="perjuridica" class="form-control" id="perjuridica" placeholder="Personería Juridica">
                      </div>
                    </div>

                    <div class="form-group required row">
                      <label for="cuit" class="col-5 col-form-label control-label">CUIT</label>
                      <div class="col-7">
                        <input type="text" [(ngModel)]="requisitoParaPopup.casa.cuit" name="cuit" class="form-control" id="cuit" placeholder="CUIT">
                      </div>
                    </div>

                    <div class="form-group required row">
                      <label for="provincia" class="col-5 col-form-label control-label">Provincia</label>
                      <div class="col-7">
                        <select class="form-control" id="provincia" [compareWith]="compareFunct" [(ngModel)]="requisitoParaPopup.casa.provincia" name="provincia" (ngModelChange)="onChange('provincia', $event)">
                          <option *ngFor="let provincia of provincias" [ngValue]="provincia">{{provincia.nombre}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group required row">
                      <label for="departamento" class="col-5 col-form-label control-label">Departamento</label>
                      <div class="col-7">
                        <select class="form-control" id="departamento" [compareWith]="compareFunct" [(ngModel)]="requisitoParaPopup.casa.departamento" name="departamento" (ngModelChange)="onChange('departamento', $event)" >
                          <option *ngFor="let departamento of departamentos" [ngValue]="departamento">{{ departamento.nombre }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group required row">
                      <label for="localidad" class="col-5 col-form-label control-label">Localidad</label>
                      <div class="col-7">
                        <select class="form-control" id="localidad" [compareWith]="compareFunct" [(ngModel)]="requisitoParaPopup.casa.localidad" name="localidad" (ngModelChange)="onChange('localidad', $event)" >
                          <option *ngFor="let localidad of localidades" [ngValue]="localidad">{{ localidad.nombre }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group required row">
                      <label for="dir" class="col-5 col-form-label control-label">Dirección</label>
                      <div class="col-7">
                        <input type="text" [(ngModel)]="requisitoParaPopup.casa.dir" name="dir" class="form-control" id="dir" placeholder="Dirección">
                      </div>
                    </div>

                    <div class="form-group required row">
                      <label for="nomrepre" class="col-5 col-form-label control-label">Nombre Representante</label>
                      <div class="col-7">
                        <input type="text" [(ngModel)]="requisitoParaPopup.casa.nomrepre" name="nomrepre" class="form-control" id="nomrepre" placeholder="Nombre Representante">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group required row">
                      <label for="modal" class="col-5 col-form-label control-label">Modalidad</label>
                      <div class="col-7">
                        <input type="text" [(ngModel)]="requisitoParaPopup.casa.modal" name="modal" class="form-control" id="modal" placeholder="Modalidad">
                      </div>
                    </div>  <!--ver si no hay quilombo con el ID modal-->

                    <div class="form-group required row">
                      <label for="cat" class="col-5 col-form-label control-label">Categoria Inicial</label>
                      <div class="col-7">
                        <select class="form-control" id="cat" [compareWith]="compareCat" [(ngModel)]="requisitoParaPopup.casa.cat" name="cat" >
                          <option *ngFor="let cat of categorias" [ngValue]="cat">{{ cat.cat }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group required row">
                      <label for="ncat" class="col-5 col-form-label control-label">Nueva Categoria</label>
                      <div class="col-7">
                        <select class="form-control" id="ncat" [compareWith]="compareCat" [(ngModel)]="requisitoParaPopup.casa.ncat" name="ncat"  >
                          <option *ngFor="let ncat of categorias" [ngValue]="ncat">{{ ncat.cat }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group required row">
                      <label for="fechaini" class="col-5 col-form-label control-label">Fecha de Auditoría Inicial</label>
                      <div class="col-7">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [ngModel]="requisitoParaPopup.casa.fechaini" id="fechaini" name="fechaini">
                      </div>
                    </div>

                    <div class="form-group required row">
                      <label for="fechacon" class="col-5 col-form-label control-label">Fecha Inicio de Convenio</label>
                      <div class="col-7">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [ngModel]="requisitoParaPopup.casa.fechacon" id="fechacon" name="fechacon">
                      </div>
                    </div>

                    <div class="form-group required row">
                      <label for="expsed" class="col-5 col-form-label control-label">Expediente SED</label>
                      <div class="col-7">
                        <input type="text" [(ngModel)]="requisitoParaPopup.casa.expsed" name="expsed" class="form-control" id="expsed" placeholder="Expediente SED">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group required row">
                    <label for="obser" class="col-3 col-form-label control-label">Observaciones</label>
                    <div class="col-9">
                      <input type="text" [(ngModel)]="requisitoParaPopup.casa.obser" name="obser" class="form-control" id="obser" placeholder="Observaciones">
                    </div>
                </div>
                <br>
                <div class="row" id="requisitos">
                  <div class="container-fluid text-center">
                      <h5 >Seleccione requisitos entregados</h5>
                  </div>
                 <br>

                  <div class="row">
                      <div class="form-group">
                        <div *ngFor="let req1 of requisitosColumna1">
                          <div class="form-check">
                            <label class="InputCheckbox ItemCheck" style="display: inline !important;">
                              <input class="form-check-input" type="checkbox" id="{{req1.id}}" [checked]="requisitoParaPopup[req1.id]" name="{{req1.id}}" (change)="requisitoParaPopup[req1.id] = !requisitoParaPopup[req1.id]">
                              <span></span>
                            </label>
                            <label class="form-check-label" for="{{req1.id}}">{{req1.descripcion}}</label>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div *ngFor="let req2 of requisitosColumna2">
                          <div class="form-check" ngCon>
                              <label class="InputCheckbox ItemCheck" style="display: inline !important;">
                                <input class="form-check-input" type="checkbox" id="{{req2.id}}" [checked]="requisitoParaPopup[req2.id]" name="{{req2.id}}" (change)="requisitoParaPopup[req2.id] = !requisitoParaPopup[req2.id]">
                                <span></span>
                              </label>
                            <label class="form-check-label" for="{{req2.id}}">{{req2.descripcion}}</label>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div> <!-- /.modal-body -->

        <div class="modal-footer">
          <button (click)="closeModal()" class="Button -sm -default -outline -rounded" data-dismiss="modal">Cancelar</button>
          <button (click)="onClickGuardar($event)" class="Button -sm -primary -raised -rounded">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

</div>
