<app-loading></app-loading>
<div class="container-fluid h-100 margin-top">
  <app-header-caac-selection (headerChanged)="onChangeHeader($event)"></app-header-caac-selection>
  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert1" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>Especifique cantidad de ACTIVIDADES FAMILIARES realizadas en el mes y personas asistidas alcanzadas</h5>
    <form >
      <div class="form-row">
        <label class="col-6 text-center"><b>Actividades en el mes</b></label>
        <label class="col-6 text-center"><b>Personas asistidas (cantidad aproximada)</b></label>
      </div>
      <div class="form-row">
        <div class="form-group required col-6">
            <label for="visitasDom-input" class="control-label">Visitas domiciliarias</label>
            <input class="form-control" type="number" id="visitasDom-input" name="visitasDom-input" [(ngModel)]="hojaMensualActividad.cantidadVisitasDomiciliarias" [readonly]="readonlyControl">
        </div>
        <div class="form-group required col-6">
          <label for="visitasDom2-input" class="control-label">Visitas domiciliarias</label>
          <input class="form-control" type="number" id="visitasDom2-input" name="visitasDom2-input" [(ngModel)]="hojaMensualActividad.personasVisitasDomiciliarias" [readonly]="readonlyControl">
        </div>
        <div class="form-group required col-6">
          <label for="orientacion-input" class="control-label">Orientación a familiares</label>
          <input class="form-control" type="number" id="orientacion-input" name="orientacion-input" [(ngModel)]="hojaMensualActividad.cantidadOrientaciones" [readonly]="readonlyControl">
        </div>
        <div class="form-group required col-6">
          <label for="orientacion-input" class="control-label">Orientación a familiares</label>
          <input class="form-control" type="number" id="orientacion2-input" name="orientacion2-input" [(ngModel)]="hojaMensualActividad.personasOrientaciones" [readonly]="readonlyControl">
        </div>
        <div class="form-group required col-6">
          <label for="gruposFam-input" class="control-label">Grupos de familiares</label>
          <input class="form-control" type="number" id="gruposFam-input" name="gruposFam-input" [(ngModel)]="hojaMensualActividad.cantidadGrupos" [readonly]="readonlyControl">
        </div>
        <div class="form-group required col-6">
          <label for="gruposFam-input" class="control-label">Grupos de familiares</label>
          <input class="form-control" type="number" id="gruposFam2-input" name="gruposFam2-input" [(ngModel)]="hojaMensualActividad.personasGrupos" [readonly]="readonlyControl">
        </div>
        <div class="form-group required col-6">
            <label for="entrevistas-input" class="control-label">Entrevistas a vinculares</label>
            <input class="form-control" type="number" id="entrevistas-input" name="entrevistas-input" [(ngModel)]="hojaMensualActividad.cantidadEntrevistas" [readonly]="readonlyControl">
        </div>
        <div class="form-group required col-6">
          <label for="entrevistas2-input" class="control-label">Entrevistas a vinculares</label>
          <input class="form-control" type="number" id="entrevistas2-input" name="entrevistas2-input" [(ngModel)]="hojaMensualActividad.personasEntrevistas" [readonly]="readonlyControl">
        </div>
      </div>
    </form>
  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert2" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>Observaciones sobre ACTIVIDADES CON FAMILIARES</h5>
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea1"  name="exampleFormControlTextarea1" rows="2" [(ngModel)]="hojaMensualObservaciones.actividadesFamiliares" [readonly]="readonlyControl"></textarea>
    </div>
  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert3"  class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>Especifique cantidad de personas alcanzadas por INTERVENCIONES EN CALLE en el mes</h5>
    <div class="from-group row margin-top">
      <label class="col-12 text-center"><b>Personas alcanzadas en el mes (cantidad aproximada)</b></label>
    </div>
    <div class="form-row">
        <div class="form-group required col-md-6">
          <label for="orie-input" class="control-label">Orientación en calle</label>
          <input class="form-control" type="number" id="orie-input" name="orie-input" [(ngModel)]="hojaMensualActividad.cantidadOrientacionesCalle" [readonly]="readonlyControl">
        </div>
        <div class="form-group required col-md-6">
          <label for="acomp-input" class="control-label">Acompañamiento en calle</label>
          <input class="form-control" type="number" id="acomp-input" name="acomp-input" [(ngModel)]="hojaMensualActividad.cantidadAcompaniamientoCalle" [readonly]="readonlyControl">
        </div>
    </div>
  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert4"  class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>INTERVENCIÓN EN CALLE. Especificar días, actividades, articulaciones con otras instituciones y zonas o barrios en que se trabajó</h5>
    <div class="form-group">
      <textarea class="form-control" name="exampleFormControlTextarea2" id="exampleFormControlTextarea2" rows="2" [(ngModel)]="hojaMensualObservaciones.intervencionCalleObservacion" [readonly]="readonlyControl"></textarea>
    </div>
  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert5" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>¿Cuántos ACOMPAÑAMIENTOS Y VISITAS A ESTABLECIMIENTOS DE SALUD se realizaron en el mes y a cuántas personas alcanzó?</h5>
      <form >
        <div class="form-row">
            <label class="col-6 text-center"><b>Acompañamientos mensuales</b></label>
            <label class="col-6 text-center"><b>Personas (cantidad aproximada)</b></label>
        </div>
        <div class="form-row" *ngFor="let hojaMensual of hojaMensualAcompaniamientoList">
          <div class="form-group required col-6">
            <label for="{{hojaMensual.acompaniamiento.id}}ac" class="control-label">{{hojaMensual.acompaniamiento.detalle}}</label>
            <input class="form-control" type="number" id="{{hojaMensual.acompaniamiento.id}}ac" name="{{hojaMensual.acompaniamiento.id}}ac" [(ngModel)]="hojaMensual.cantidadGestiones" [readonly]="readonlyControl">
          </div>
          <div class="form-group required col-6">
            <label for="{{hojaMensual.acompaniamiento.id}}per" class="control-label">{{hojaMensual.acompaniamiento.detalle}}</label>
            <input class="form-control" type="number" id="{{hojaMensual.acompaniamiento.id}}per" name="{{hojaMensual.acompaniamiento.id}}per" [(ngModel)]="hojaMensual.cantidadPersonas" [readonly]="readonlyControl">
        </div>
      </div>
    </form>
  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert6" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>ACOMPAÑAMIENTO Y VISITAS A ESTABLECIMIENTOS DE SALUD. Especifique nombre de las instituciones donde se realizaron los acompañamientos o visitas</h5>
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea3" name="exampleFormControlTextarea3" [(ngModel)]="hojaMensualObservaciones.acompaniamientoVisitasEstablecimientoSalud" [readonly]="readonlyControl"></textarea>
    </div>
  </div>

  <div class="text-right" style="width:100%">
    <button class="Button -sm -raised -primary -rounded" (click)="onClickGuardar()" [disabled]="readonlyControl"><i class="far fa-save"></i><span> Guardar</span></button>
    <button class="Button -sm -default -outline -rounded" (click)="onClickSiguiente()" [disabled]="readonlyControl">Siguiente</button>
  </div>

<!-- CONFIRM DIALOG -->
<div id ="confirmDialogSiguiente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Confirmar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>¿Desea guardar los cambios antes de avanzar?</p>
      </div>

      <div class="modal-footer">
        <button class="Button -sm -default -outline -rounded" click="siguiente()" data-dismiss="modal">No</button>
        <button class="Button -sm -primary -raised -rounded" id="submit" (click)="onClickConfirmDialogSiguiente()">Si</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
