<div class="HeaderContainer">
  <header class="DashboardHeader">
    <div class="HeaderBlock">
      <button class="Button -primary ControlButton" id="HeaderSidebarToggleButton">
        <i class="fas fa-bars Icon" aria-hidden="true"></i>
      </button>
    </div>
    <a id="nav-bar-title" class="navbar-brand" href="#">
      {{TITLE}}
    </a>
    <ul class="navbar-nav ProfileNav navbar-expand-lg mr-auto">
      <li class="nav-item NavItem Profile caac-item">
        <a class="nav-link" href="#" routerLink={{getGeneralLink()}}>General<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item NavItem Profile caac-item">
        <a class="nav-link" href="#" routerLink="{{getAdministrativoLink()}}">Administrativo<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item NavItem Profile caac-item">
        <a class="nav-link" href="#" routerLink={{getVencimientosLink()}}>Vencimientos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item NavItem Profile caac-item">
        <a class="nav-link" href="#" routerLink={{getAuditoriaLink()}}>Auditoria<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item NavItem Profile caac-item">
        <a class="nav-link" href="#" routerLink={{getPagosLink()}}>Pagos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item NavItem Profile caac-item">
        <a class="nav-link" href="#" routerLink={{getReportesLink()}}>Reportes<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <div class="HeaderBlock">
      <nav class="ProfileNav">
        <div class="Dropdown NavItem Profile">
          <a href="" class="DropdownToggle NavLink ProfileLink">
            <div class="Img" style="background-image: url('assets/ui/img/profile.jpg')"> </div>
            <div class="Name"> John Doe </div>
          </a>
          <div class="DropdownContent -end">
            <nav class="Nav">
              <a href="">
                <i class="fa fa-user Icon"></i> Profile </a>
              <a href="">
                <i class="fa fa-gear Icon"></i> Settings </a>
              <div class="Divider"></div>
              <a href="">
                <i class="fa fa-power-off Icon"></i> Logout </a>
            </nav>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
