<app-loading></app-loading>
<div class="container-fluid h-100 margin-top">
  <app-header-caac-selection (headerChanged)="onChangeHeader($event)"></app-header-caac-selection>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert1" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>¿Qué cantidad de prestaciones de ORIENTACIÓN Y ACOMPAÑAMIENTO PROFESIONAL EN SALUD se realizaron en el mes y a cuántas personas alcanzó?</h5>
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <label class="text-center"><b>Cantidad de prestaciones</b></label>
        </div>
        <div class="col">
          <label class="text-center"><b>Personas aproximadas</b></label>
        </div>
      </div>
    </div>

    <div class="form-row" *ngFor="let hojaMensualAcomp of hojaMensualAcompaniamientosEstablecimientoProfSaludList">
      <div class="container">
        <div class="row">
          <div class="col">
            <label for="{{hojaMensualAcomp.acompaniamiento.id}}gestiones">{{hojaMensualAcomp.acompaniamiento.detalle}}</label>
            <input class="form-control" name="{{hojaMensualAcomp.acompaniamiento.id}}gestiones" type="number" id="{{hojaMensualAcomp.acompaniamiento.id}}gestiones" [(ngModel)]="hojaMensualAcomp.cantidadGestiones" [readonly]="readonlyControl">
          </div>
          <div class="col">
            <label for="{{hojaMensualAcomp.acompaniamiento.id}}personas">{{hojaMensualAcomp.acompaniamiento.detalle}}</label>
            <input class="form-control" name="{{hojaMensualAcomp.acompaniamiento.id}}personas" type="number" id="{{hojaMensualAcomp.acompaniamiento.id}}personas" [(ngModel)]="hojaMensualAcomp.cantidadPersonas" [readonly]="readonlyControl">
          </div>
        </div>
      </div>
    </div>

    
  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert2"  class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>Observaciones sobre ORIENTACIÓN Y ACOMPAÑAMIENTO PROFESIONAL EN SALUD</h5>
    <br>
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea" name="exampleFormControlTextarea" rows="2" [(ngModel)]="hojaMensualObservaciones.acompaniamientoProfesionalSalud" [readonly]="readonlyControl"></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6">

      <div class="card card-body marginBottom">
        <div (click)="hideFormAlert()" id="formAlert3" class="alert alert-danger formErrorMessages" role="alert">
          <ul style="margin-bottom: 0">
            <li *ngFor="let message of formMessages">
              {{message}}
            </li>
          </ul>
        </div>
        <h5>¿Qué cantidad de personas recibieron RECURSOS ENTREGADOS por la CAAC según tipo de recurso?</h5>
        <br>
        <div class="container">
          <div class="row">
            <div class="col">
              <label class="text-center"><b>Personas aproximadas</b></label>
            </div>
          </div>
        </div>
        <div class="form-row" *ngFor="let hojaMensualRecurso of hojaMensualRecursosList">
          <div class="container">
            <div class="row">
              <div class="col">
                <label for="{{hojaMensualRecurso.recurso.id}}">{{hojaMensualRecurso.recurso.detalle}}</label>
                <input class="form-control" name="{{hojaMensualRecurso.recurso.id}}" type="number" id="{{hojaMensualRecurso.recurso.id}}" [(ngModel)]="hojaMensualRecurso.cantidadPersonas" [readonly]="readonlyControl">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-6">
      <div class="card card-body marginBottom">
        <div (click)="hideFormAlert()" id="formAlert4" class="alert alert-danger formErrorMessages" role="alert">
          <ul style="margin-bottom: 0">
            <li *ngFor="let message of formMessages">
              {{message}}
            </li>
          </ul>
        </div>
        <h5>¿Qué cantidad de personas recibieron ACOMPAÑAMIENTO DE TRAYECTORIAS EDUCATIVAS en el último mes según tipo de acompañamiento?</h5>
        <br>
        <div class="container">
            <div class="row">
              <div class="col">
                <label class="text-center"><b>Personas aproximadas</b></label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="container">
              <div class="row">
                <div class="col">
                    <label for="acompEscuela-input">Acompañamiento en escuela</label>
                    <input class="form-control" name="acompEscuela-input" type="number" id="acompEscuela-input" [(ngModel)]="hojaMensualAcompaniamientoEscuela.cantidadPersonas" [readonly]="readonlyControl">
                </div>
              </div>
              <div class="row">
                  <div class="col">
                    <label for="actividadesPrev-input">Actividad de prevención (talleres/charlas/grupos)</label>
                    <input class="form-control" name="actividadesPrev-input" type="number" id="actividadesPrev-input" [(ngModel)]="hojaMensualAcompaniamientoActividadPrevencion.cantidadPersonas" [readonly]="readonlyControl">
                </div>
              </div>
              <div class="row">
                  <div class="col">
                    <label for="apoyoEscolar-input">Apoyo escolar/alfabetización</label>
                    <input class="form-control" name="apoyoEscolar-input" type="number" id="apoyoEscolar-input" [(ngModel)]="hojaMensualAcompaniamientoApoyoEscolar.cantidadPersonas" [readonly]="readonlyControl">
                </div>
              </div>
              <div class="row">
                  <div class="col">
                    <label for="programa-input">Programa para la inclusión educativa (fines, progresar, etc.)</label>
                    <input class="form-control" name="programa-input" type="number" id="programa-input" [(ngModel)]="hojaMensualAcompaniamientoInclusionEducativa.cantidadPersonas" [readonly]="readonlyControl">
                </div>
              </div>
              <div class="row">
                  <div class="col">
                    <label for="escuelaEnSede-input">Escuela en sede</label>
                    <input class="form-control" name="escuelaEnSede-input" type="number" id="escuelaEnSede-input" [(ngModel)]="hojaMensualAcompaniamientoEscuelaEnSede.cantidadPersonas" [readonly]="readonlyControl">
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="card card-body marginBottom">
        <div (click)="hideFormAlert()" id="formAlert5"  class="alert alert-danger formErrorMessages" role="alert">
          <ul style="margin-bottom: 0">
            <li *ngFor="let message of formMessages">
              {{message}}
            </li>
          </ul>
        </div>
        <h5>Observaciones sobre ACOMPAÑAMIENTO DE TRAYECTORIAS EDUCATIVAS</h5>
        <br>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea3" name="exampleFormControlTextarea3" rows="2" [(ngModel)]="hojaMensualObservaciones.acompaniamientoTrayectoriaEducativa" [readonly]="readonlyControl"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right" style="width:100%">
    <button class="Button -sm -raised -primary -rounded" (click)="onClickGuardar()" [disabled]="readonlyControl"><i class="far fa-save"></i><span> Guardar</span></button>
    <button class="Button -sm -default -outline -rounded" (click)="onClickSiguiente()" [disabled]="readonlyControl">Siguiente</button>
  </div>
</div>

<!-- CONFIRM DIALOG -->
<div id ="confirmDialogSiguiente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Confirmar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>¿Desea guardar los cambios antes de avanzar?</p>
      </div>

      <div class="modal-footer">
        <button class="Button -sm -default -outline -rounded" click="siguiente()" data-dismiss="modal">No</button>
        <button class="Button -sm -primary -raised -rounded" id="submit" (click)="onClickConfirmDialogSiguiente()">Si</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
