<app-loading></app-loading>
<div class="container-fluid h-100 margin-top">
  <app-header-caac-selection (headerChanged)="onChangeHeader($event)"></app-header-caac-selection>

  <div (click)="hideFormAlert()" id="formAlert" class="alert alert-danger formErrorMessages" role="alert">
    <ul style="margin-bottom: 0">
      <li *ngFor="let message of formMessages">
        {{message}}
      </li>
    </ul>
  </div>
  <div class="form-row">
    <div class="form-group col-8">
      <div class="card card-body marginBottom">
        <div class="form-group required row">
          <label for="example-text-input" class="col-4 control-label col-form-label">Mes de referencia del informe</label>
          <div class="col-2">
            <input class="form-control" *ngIf="hoja.mes" name="meshja" type="text" id="example-text-input"
                   [ngModel]="hoja.mes.descripcion" [readonly]="true">
            <input class="form-control" *ngIf="hoja.mes == null" type="text" id="example-text-input" [readonly]="true">
          </div>
          <label for="example-search-input" class="col-4  control-label col-form-label">Año de referencia del informe</label>
          <div class="col-2">
            <input class="form-control" type="number" name="anioHoja" id="example-search-input" [ngModel]="hoja.anio"
                   [readonly]="true">
          </div>
        </div>
        <div class="form-group required row">
          <label for="codigoCaac" class="col-4 control-label col-form-label">Código de la CAAC</label>
          <div class="col-8">
            <input class="form-control" type="number" name="codigoCaac" id="codigoCaac" [value]="hoja.casa ? hoja.casa.id : null" [readonly]="true">
          </div>
        </div>
        <div class="form-group required row">
          <label for="example-url-input" class="col-4 control-label col-form-label">Nombre de la CAAC</label>
          <div class="col-8">
            <input class="form-control" type="text" id="example-url-input" [ngModel]="hojaDatosIniciales.nombreCaac" name="example-url-input" [readonly]="true">
          </div>
        </div>
        <div class="form-group required row">
          <label for="organizacionResponsable" class="col-4 control-label col-form-label">Organización responsable</label>
          <div class="col-8">
            <input class="form-control" type="text" id="organizacionResponsable" [(ngModel)]="hojaDatosIniciales.organismoResponsable" name="organizacionResponsable" [readonly]="readonlyControl">
          </div>
        </div>
        <div class="form-group required row">
          <label for="personaResponsable" class="col-4 control-label col-form-label">Persona responsable de la CAAC</label>
          <div class="col-8">
            <input class="form-control" type="text" id="personaResponsable" [(ngModel)]="hojaDatosIniciales.personaResponsable"  name="personaResponsable" [readonly]="readonlyControl">
          </div>
        </div>
        <div class="form-group required row">
          <label for="telefonoResponsable" class="col-4 control-label col-form-label">Teléfono del responsable</label>
          <div class="col-8">
            <input class="form-control" type="text" name="telefonoResponsable" [(ngModel)]="hojaDatosIniciales.telefonoResponsable" id="telefonoResponsable" [readonly]="readonlyControl">
          </div>
        </div>
        <div class="form-group required row">
          <label for="correoResponsable" class="col-4 control-label col-form-label">Correo electrónico del responsable</label>
          <div class="col-8">
            <input class="form-control" type="text" name="correoResponsable" [(ngModel)]="hojaDatosIniciales.mailResponsable" id="correoResponsable" [readonly]="readonlyControl">
          </div>
        </div>
        <div class="form-group required row">
          <label for="referentes" class="col-4 control-label col-form-label">Otros referentes ante SEDRONAR</label>
          <div class="col-8">
            <input class="form-control" type="text" name="referentes" id="referentes"  [(ngModel)]="hojaDatosIniciales.otrosReferentes"  [readonly]="readonlyControl">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-4">
      <div class="card card-body marginBottom">
        <h5>¿Cuenta con otros anexos?</h5>
        <div class="form-row">
          <div class="form-group col-12 text-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" [disabled]="readonlyControl" type="radio" [checked]="hojaDatosIniciales.anexos == 'S'" [ngModel]="hojaDatosIniciales" [value]="'S'" name="inlineRadioOptions" id="inlineRadio1">
              <label class="form-check-label" for="inlineRadio1">Si</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" [disabled]="readonlyControl" type="radio" [checked]="hojaDatosIniciales.anexos == 'N'" [value]="'N'" name="inlineRadioOptions2" id="inlineRadio2">
              <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Dirección y horarios de los anexos</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="hojaDatosIniciales.direccionHorarioAnexos" [readonly]="hojaDatosIniciales.anexos == 'N'" name="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <br><br>
        <label for="exampleFormControlTextarea2">Caracterice brevemente la institución y sus objetivos generales (modalidad de funcionamiento, cultura institucional)</label>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea2" [(ngModel)]="hojaDatosIniciales.caracteristicasGenerales" [readonly]="readonlyControl" name="exampleFormControlTextarea2" rows="3"></textarea>
        </div>
      </div>
    </div>

    <div class="form-group col-12">
      <div class="card card-body marginBottom">
        <div class="form-group required row">
          <label for="provincia" class="col-2 control-label col-form-label">Provincia</label>
          <div class="col-4">
            <mat-form-field>
              <input id="provincia" type="text" matInput placeholder="Seleccione una provincia"
                     [matAutocomplete]="autoProvincia" name="provinciaAutocomplete" [formControl]="provinciaCtrl">
              <mat-autocomplete #autoProvincia="matAutocomplete">
                <mat-option *ngFor="let provincia of filteredProvincias | async" [value]="provincia.nombre"
                            (onSelectionChange)="selectedProvincia(event,provincia)">
                  {{ provincia.nombre }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <label for="depto" class="col-2 control-label col-form-label">Departamento</label>
          <div class="col-4">
            <mat-form-field>
              <input id="depto" type="text" matInput placeholder="Seleccione un departamento"
                     [matAutocomplete]="auto" name="depto" [formControl]="departamentoCtrl">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let dpto of filteredDepartamentos | async" [value]="dpto.nombre"
                            (onSelectionChange)="selectedDepartamento(event,dpto)">
                  {{ dpto.nombre }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group required row">
          <label for="municipio" class="col-2 control-label col-form-label">Municipio</label>
          <div class="col-4">
            <mat-form-field>
              <input id="municipio" type="text" matInput placeholder="Seleccione un municipio"
                     [matAutocomplete]="auto" name="municipioAuto" [formControl]="municipioCtrl">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let muni of filteredMunicipios | async" [value]="muni.nombre"
                            (onSelectionChange)="selectedMunicipio(event,muni)">
                  {{ muni.nombre }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <label for="localidad" class="col-2 control-label col-form-label">Localidad:</label>
          <div class="col-4">
            <mat-form-field>
              <input id="localidad" type="text" matInput placeholder="Seleccione una localidad"
                     [matAutocomplete]="auto" name="localidad" [formControl]="localidadCtrl">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let localidad of filteredLocalidades | async" [value]="localidad.nombre"
                            (onSelectionChange)="selectedLocalidad(event,localidad)">
                  {{ localidad.nombre }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group required row">
          <label for="barrio" class="col-2 control-label col-form-label text-right">Barrio</label>
          <div class="col-4">
            <input class="form-control" type="text" name="barrio" id="barrio" [(ngModel)]="hojaDatosIniciales.barrio" [readonly]="readonlyControl">
          </div>
          <label for="direcc" class="col-2 control-label col-form-label text-right">Dirección</label>
          <div class="col-4">
            <input class="form-control" type="text" name="direcc" id="direcc" [(ngModel)]="hojaDatosIniciales.direccion" [readonly]="readonlyControl">
          </div>
        </div>
        <div class="form-group required row">
          <label for="entreCalles" class="col-2 control-label col-form-label text-right">Entre calles</label>
          <div class="col-4">
            <input class="form-control" type="text" name="entreCalles" id="entreCalles" [(ngModel)]="hojaDatosIniciales.interseccion1" [readonly]="readonlyControl">
          </div>
          <label> y </label>
          <div class="col-4">
            <input class="form-control" type="text" name="entreCalles2" id="entreCalles2" [(ngModel)]="hojaDatosIniciales.interseccion2" [readonly]="readonlyControl">
          </div>
        </div>
        <div class="form-group required row">
          <label for="telCaac" class="col-2 control-label col-form-label text-right">Teléfono de la CAAC</label>
          <div class="col-4">
            <input class="form-control" type="text" name="telCaac" id="telCaac" [(ngModel)]="hojaDatosIniciales.telefonoCaac" [readonly]="readonlyControl">
          </div>
          <label for="correoCAAC" class="col-2 control-label col-form-label text-right">Corre electrónico de la CAAC</label>
          <div class="col-4">
            <input class="form-control" type="text" name="correoCAAC" [(ngModel)]="hojaDatosIniciales.mailCaac" id="correoCAAC" [readonly]="readonlyControl">
          </div>
        </div>
    </div>

    <div class="form-group col-12">
      <div class="card card-body marginBottom">
        <label class="col-12"><b>Alternativas asistenciales</b></label>
        <div class="form-group row" style="margin-bottom:0" *ngFor="let hojaAltAsist of hojaAlternativasAsistencialesList">
          <div class="ItemCol ColCheck -size-auto col-1">
            <label class="InputCheckbox ItemCheck">
              <input class="form-check-input" type="checkbox" id="{{hojaAltAsist.alternativaAsistencial.id}}" [disabled]="readonlyControl" name="{{hojaAltAsist.alternativaAsistencial.id}}"
                     [checked]="hojaAltAsist.isChecked" (change)="onChangeCheckbox(hojaAltAsist, $event)">
              <span></span>
            </label>
          </div>
          <label for="{{hojaAltAsist.alternativaAsistencial.id}}" class="col-11 col-form-label text-left" style="padding-top:4px">{{hojaAltAsist.alternativaAsistencial.nombre}}: {{hojaAltAsist.alternativaAsistencial.descripcion}}</label>
        </div>
        <textarea class="form-control" [(ngModel)]="alternativaAsistencialOtroDescripcion" placeholder="Especifique para la opción 'Otro'" id="exampleFormControlTextarea0" *ngIf="otroIsChecked" name="exampleFormControlTextarea0" rows="1" ></textarea>
      </div>
    </div>
  </div>

  <div class="text-right" style="width:100%">
    <button class="Button -sm -raised -primary -rounded" (click)="onClickGuardar()" [disabled]="readonlyControl"><i class="far fa-save"></i><span> Guardar</span></button>
    <button class="Button -sm -default -outline -rounded" (click)="onClickSiguiente()" [disabled]="readonlyControl">Siguiente</button>
  </div>

</div>

<!-- CONFIRM DIALOG -->
<div id ="confirmDialogSiguiente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Confirmar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>¿Desea guardar los cambios antes de avanzar?</p>
      </div>

      <div class="modal-footer">
        <button class="Button -sm -default -outline -rounded" click="siguiente()" data-dismiss="modal">No</button>
        <button class="Button -sm -primary -raised -rounded" id="submit" (click)="onClickConfirmDialogSiguiente()">Si</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
