<div class="HeaderContainer">
  <header class="DashboardHeader">
    <a id="nav-bar-title" class="navbar-brand" href="#">
      {{TITLE}}
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item caac-item">
        <a class="nav-link" href="#">General<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item caac-item">
        <a class="nav-link" href="#">Administrativo<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item caac-item">
        <a class="nav-link" href="#">Vencimientos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item caac-item">
        <a class="nav-link" href="#">Auditoria<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item caac-item">
        <a class="nav-link" href="#">Pagos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item caac-item">
        <a class="nav-link" href="#">Reportes<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="HeaderBlock">
      <nav class="ProfileNav">
        <div class="Dropdown NavItem Profile">
          <a href="" class="DropdownToggle NavLink ProfileLink">
            <div class="Img" style="background-image: url('assets/ui/img/profile.jpg')"> </div>
            <div class="Name"> John Doe </div>
          </a>
          <div class="DropdownContent -end">
            <nav class="Nav">
              <a href="">
                <i class="fa fa-user Icon"></i> Profile </a>
              <a href="">
                <i class="fa fa-gear Icon"></i> Settings </a>
              <div class="Divider"></div>
              <a href="">
                <i class="fa fa-power-off Icon"></i> Logout </a>
            </nav>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
