<div class="HeaderContainer">
  <header class="DashboardHeader">
    <!--<div class="HeaderBlock">-->
      <!--<button class="Button -primary ControlButton" id="HeaderSidebarToggleButton">-->
        <!--<i class="fas fa-bars Icon" aria-hidden="true"></i>-->
      <!--</button>-->
    <!--</div>-->
    <a class="navbar-brand" href="#">
      {{TITLE}}
    </a>
    <div class="HeaderBlock">
      <nav class="ProfileNav">
        <div class="Dropdown NavItem Profile">
          <a href="" class="DropdownToggle NavLink ProfileLink">
            <div class="Img" style="background-image: url('assets/ui/img/profile.jpg')"> </div>
            <div class="Name"> John Doe </div>
          </a>
          <div class="DropdownContent -end">
            <nav class="Nav">
              <a href="">
                <i class="fa fa-user Icon"></i> Profile </a>
              <a href="">
                <i class="fa fa-gear Icon"></i> Settings </a>
              <div class="Divider"></div>
              <a href="">
                <i class="fa fa-power-off Icon"></i> Logout </a>
            </nav>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
