<div class="row" style="padding-bottom: 10px">

  <div class="col-7">
    <div class="card">
        <form class="form-inline ">
          <div class="form-group col-3.5" style="padding-left:5px">
            <mat-form-field>
              <input type="text" matInput placeholder="Seleccione CAAC" [matAutocomplete]="autoCasa" name ="casaAutocomplete" [formControl]="casaCtrl">
              <mat-autocomplete #autoCasa="matAutocomplete">
                <mat-option *ngFor="let casa of filteredCasas | async" [value]="casa.nomcaac" (onSelectionChange)="selectedCasa($event, casa)">
                  {{ casa.nomcaac }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="form-group has-feedback col-auto">
            <label class="mr-sm-2" for="periodoCarga"><b>Período de carga: </b></label>
            <form class="form-inline" id="periodoCarga">
              <div class="form-group">
                <select class="custom-select" id="anioCarga" [(ngModel)]="headerSigeseForms.anioCarga" [disabled]="!modificarValoresCarga" (change)="onChangeAnioCarga($event)" name="anioCarga">
                  <option [value]="-1" selected>Año</option>
                  <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
                </select>
              </div>
              <div class="form-group" style="padding-left: 5px">
                <select class="custom-select" id="mesCarga" [compareWith]="compareFunct" [(ngModel)]="headerSigeseForms.mesCarga" [disabled]="!modificarValoresCarga" (ngModelChange)="onChangeMesCarga($event)" name="mesCarga">
                  <option [value]="-1" selected>Mes</option>
                  <option *ngFor="let mes of meses" [ngValue]="mes">{{ mes.id }}</option>
                </select>
              </div>
            </form>
          </div>

          <div class="form-group col-2">
            <button class="Button -sm -raised  -primary -rounded " [disabled]="modificarValoresCarga" (click)="habilitarEdicionCarga()" title="Habilitar edición">Modificar</button>
          </div>
        </form>
    </div>
  </div>

  <div class="col-5">
    <div class="card card-body" style="padding: 0.9rem !important">
      <form class="form-inline">
        <div class="form-group has-feedback col-auto" style="padding:0 !important">
          <label class="mr-sm-2" for="periodoRecupero"><b>Recuperar datos de:</b></label>
          <form class="form-inline" id="periodoRecupero">
            <div class="form-group">
              <select class="custom-select" id="anioRecuperacionDatos" [(ngModel)]="headerSigeseForms.anioRecuperacionDatos" name="anioRecuperacionDatos">
                <option [value]="undefined" selected>Año</option>
                <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
              </select>
            </div>
            <div class="form-group" style="padding-left: 5px">
              <select class="custom-select" id="mesRecuperacionDatos" [(ngModel)]="headerSigeseForms.mesRecuperacionDatos" name="mesRecuperacionDatos">
                <option [value]="undefined" selected>Mes</option>
                <option *ngFor="let mes of meses" [ngValue]="mes">{{ mes.id }}</option>
              </select>
            </div>
          </form>
        </div>

        <div class="col-1">
          <button class="Button -sm -raised  -primary -rounded">Cargar</button>
        </div>

      </form>
    </div>
  </div>

</div>
