<app-loading></app-loading>
<div class="container-fluid h-100 margin-top">
  <app-header-caac-selection (headerChanged)="onChangeHeader($event)"></app-header-caac-selection>
  <div class="card card-body">
    <h3>Formulario de carga para información mensual</h3><br>
    <div id="formAlert" (click)="hideFormAlert()" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <div class="form-group required row">
      <label for="example-text-input" class="col-3 control-label col-form-label">Mes de referencia del informe</label>
      <div class="col-2">
        <input class="form-control" *ngIf="hoja.mes" type="text" id="example-text-input"
               [ngModel]="hoja.mes.descripcion" [readonly]="readonlyControl">
        <input class="form-control" *ngIf="hoja.mes == null" type="text" id="example-text-input" [readonly]="true">
      </div>
      <label for="example-search-input" class="col-3 control-label col-form-label">Año de referencia del informe</label>
      <div class="col-2">
        <input class="form-control" type="number" id="example-search-input" [ngModel]="hoja.anio"
               [readonly]="readonlyControl">
      </div>
      <div class="col-auto"></div>
    </div>
    <div class="form-group required row">
      <label for="example-email-input" class="col-2 control-label col-form-label">Código de la CAAC</label>
      <div class="col-10">
        <input class="form-control" type="number" id="example-email-input" [ngModel]="codigoDeLaCasa"
               [readonly]="readonlyControl">
      </div>
    </div>
    <div class="form-group required row">
      <label for="example-url-input" class="col-2 control-label col-form-label">Nombre de la CAAC</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="hojaDatosIniciales.nombreCaac" id="example-url-input">
      </div>
    </div>
    <div class="form-group required row">
      <label for="provincia" class="col-2 control-label col-form-label">Provincia</label>
      <div class="col-10">
        <mat-form-field>
          <input id="provincia" type="text" matInput placeholder="Seleccione una provincia"
                 [matAutocomplete]="autoProvincia" name="provinciaAutocomplete" [formControl]="provinciaCtrl">
          <mat-autocomplete #autoProvincia="matAutocomplete">
            <mat-option *ngFor="let provincia of filteredProvincias | async" [value]="provincia.nombre"
                        (onSelectionChange)="selectedProvincia(event,provincia)">
              {{ provincia.nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="text-right" style="width:100%">
      <button class="Button -sm -raised -primary -rounded" (click)="onClickGuardar()" [disabled]="!enableButtons"><i
        class="far fa-save"></i><span> Guardar</span></button>
      <button class="Button -sm -default -outline -rounded" (click)="onClickSiguiente()" [disabled]="!enableButtons">
        Siguiente
      </button>
    </div>
  </div>
</div>

<!-- CONFIRM DIALOG GUARDAR -->
<div id="confirmDialogGuardar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Confirmar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>¿Seguro que desea realizar esta acción?</p>
      </div>

      <div class="modal-footer">
        <button class="Button -sm -default -outline -rounded" data-dismiss="modal">No</button>
        <button class="Button -sm -primary -raised -rounded" id="submit2" (click)="onClickConfirmDialogGuardar()">Si
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- CONFIRM DIALOG -->
<div id="confirmDialogSiguiente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel2">Confirmar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>¿Desea guardar los cambios antes de avanzar?</p>
      </div>

      <div class="modal-footer">
        <button class="Button -sm -default -outline -rounded" click="siguiente()" data-dismiss="modal">No</button>
        <button class="Button -sm -primary -raised -rounded" id="submit" (click)="onClickConfirmDialogSiguiente()">Si
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

