<app-loading></app-loading>
<div class="container-fluid h-100 margin-top">
  <app-header-caac-selection (headerChanged)="onChangeHeader($event)"></app-header-caac-selection>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert1"  class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>Por favor, especifique las mejoras de infraestructura realizadas en el mes</h5>
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea" name="exampleFormControlTextarea" rows="2" [(ngModel)]="hojaMensualObservaciones.mejorasInfraestructura" [readonly]="readonlyControl"></textarea>
    </div>
  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert2"  class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>Exponga cuáles son los requerimientos actuales en cuanto a formación en la CAAC y quiénes serían los potenciales destinatarios</h5>
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea2" name="exampleFormControlTextarea2" rows="2" [(ngModel)]="hojaMensualObservaciones.requerimientosFormacion" [readonly]="readonlyControl"></textarea>
    </div>
  </div>

  <div class="card card-body marginBottom">
    <div (click)="hideFormAlert()" id="formAlert3" class="alert alert-danger formErrorMessages" role="alert">
      <ul style="margin-bottom: 0">
        <li *ngFor="let message of formMessages">
          {{message}}
        </li>
      </ul>
    </div>
    <h5>Detallar altas y bajas en la nómina de personal con los siguientes datos: </h5>
    <form>
      <div class="form-row">
        <div class="form-group col-12 text-right">
          <button type="button" [disabled]="readonlyControl" class="Button -sm -primary -raised -rounded" (click)="openModal()"><span class='fas fa-plus'></span> Agregar registro</button>
        </div>
      </div>
    </form>

    <table id="table" class="table table-striped table-sm table-bordered table-hover" style="width:100%"></table>
  </div>

  <div class="text-right" style="width:100%">
    <button class="btn btn-sm btn-primary" (click)="onClickGuardar()" [disabled]="readonlyControl"><i class="far fa-save"></i><span> Guardar</span></button>
    <button class="btn btn-sm btn-default" (click)="onClickSiguiente()" [disabled]="readonlyControl">Siguiente</button>
  </div>
</div>

<!-- CONFIRM DIALOG -->
<div id ="confirmDialogSiguiente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Confirmar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>¿Desea guardar los cambios antes de avanzar?</p>
      </div>

      <div class="modal-footer">
        <button class="Button -sm -default -outline -rounded" click="siguiente()" data-dismiss="modal">No</button>
        <button class="Button -sm -primary -raised -rounded" id="submit" (click)="onClickConfirmDialogSiguiente()">Si</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- POPUP -->
<div class="modal fade bd-example-modal-lg" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Personal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card card-block bottomSpace">
          <h5 style="padding: 5px">Búsqueda por filtros</h5>
          <form class="form-inline container">
            <select class="custom-select col-4" id="tipoDoc" name="tipoDoc" [(ngModel)]="documentFilter.tipoDocumento" >
              <option [ngValue]="undefined" selected>Tipo documento</option>
              <option *ngFor="let tipoDoc of tiposDocumento" [ngValue]="tipoDoc">{{tipoDoc.descripcion}}</option>
            </select>
            <div class="col-1"></div>
            <input type="number" name="dni" class="form-control col-5" id="dni" [disabled]="documentFilter.tipoDocumento == null" placeholder="Número de documento">
            <div class="col-1">
              <button type="button" class="btn btn-default" (click)="cleanFilter()" title="Limpiar filtros"><span class="fas fa-eraser"></span></button>
            </div>
            <div class="col-1" style="padding-left: 3px">
              <button type="button" class="btn btn-primary -lg -raised" (click)="findPersonal()" title="Actualizar búsqueda"> <span class="fas fa-search"></span></button>
            </div>
          </form>
        </div>

        <form class="form-horizontal">

          <div id="formAlertPopup" (click)="hideFormAlert()"  style="display:none; cursor: pointer" class="alert alert-danger formErrorMessages" role="alert">
            <ul style="margin-bottom:0">
              <li *ngFor="let message of formMessages">
                {{message}}
              </li>
            </ul>
          </div>

          <div *ngIf="personalMensual">
            <div class="form-group required row">
              <label for="nombre" class="col-3 col-form-label control-label">Nombre</label>
              <div class="col-9">
                <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="personalMensual.nombre" [readonly]="personalEncontradoByDocumento">
              </div>
            </div>
            <div class="form-group required row">
              <label for="apellido" class="col-3 col-form-label control-label">Apellido</label>
              <div class="col-9">
                <input type="text" name="apellido" class="form-control" id="apellido" [(ngModel)]="personalMensual.apellido" [readonly]="personalEncontradoByDocumento">
              </div>
            </div>

            <div class="form-group required row">
              <label for="tipoDocPersonal" class="col-3 col-form-label control-label">Tipo Documento</label>
              <div class="col-9">
                <select class="custom-select col-4" [compareWith]="compare"  id="tipoDocPersonal" name="tipoDocPersonal" [disabled]="personalEncontradoByDocumento" [(ngModel)]="personalMensual.personal.tipoDocumento">
                  <option *ngFor="let tipoDoc of tiposDocumento" [ngValue]="tipoDoc">{{tipoDoc.descripcion}}</option>
                </select>
              </div>
            </div>
            <div class="form-group required row">
              <label for="nroDocPersonal" class="col-3 col-form-label control-label">Número documento</label>
              <div class="col-9">
                <input type="number" name="nroDocPersonal" class="form-control" [readonly]="personalEncontradoByDocumento" id="nroDocPersonal" [(ngModel)]="personalMensual.personal.numeroDocumento" >
              </div>
            </div>
            <div class="form-group required row">
              <label for="altaBaja" class="col-3 col-form-label control-label">Alta/Baja</label>
              <div class="col-9">
                <select class="custom-select" [compareWith]="compare" id="altaBaja" name="altaBaja" [(ngModel)]="personalMensual.altaBaja">
                  <option [ngValue]="'alta'">Alta</option>
                  <option [ngValue]="'baja'">Baja</option>
                </select>
              </div>
            </div>
            <div class="form-group required row">
              <label for="rol" class="col-3 col-form-label control-label">Rol</label>
              <div class="col-9">
                <input type="text" name="rol" class="form-control" id="rol" [readonly]="personalEncontradoByDocumento" [(ngModel)]="personalMensual.rol">
              </div>
            </div>
            <div class="form-group required row">
              <label for="titulo" class="col-3 col-form-label control-label">Título</label>
              <div class="col-9">
                <input type="text" name="titulo" class="form-control" [readonly]="personalEncontradoByDocumento" id="titulo" [(ngModel)]="personalMensual.titulo">
              </div>
            </div>
            <div class="form-group required row">
              <label for="rentado" class="col-3 col-form-label control-label">Rentado/No Rentado</label>
              <div class="col-9">
                <select class="custom-select" [compareWith]="compare" id="rentado" name="rentado" [disabled]="personalEncontradoByDocumento" [(ngModel)]="personalMensual.esRentado">
                  <option [ngValue]="'S'">Sí</option>
                  <option [ngValue]="'N'">No</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div> <!-- /.modal-body -->

      <div class="modal-footer">
        <button type="button" (click)="closeModal()" class="Button -sm -default -outline -rounded" data-dismiss="modal">Cancelar</button>
        <button type="submit" (click)="onClickAceptarPopup($event)" class="Button -sm -primary -raised -rounded">Aceptar</button>
      </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
