@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgba(0, 0, 0, 0.54) !important;
}

.required .control-label:after {
  content:"*";
  color:red;
}

.formErrorMessages {
  display:none;
  cursor: pointer;
  margin-bottom: 10px;
}

.margin-top {
  margin-top: 10px;
}

.img-logo-sedronar {
  width: 130px;
  margin-left: 20%;
  margin-right: 20%;
}

/*.HeaderContainer{ left: 0 !important; }*/
/*.ContentContainer{ margin-left: 0px !important; }*/
