<div class="box box-primary card card-block sinbordes" >
  <div class="box box-primary card card-block sinbordes">
      <div class="card-deck">
        <div class="card text-center sinbordes" >
          <div >
            <a class="NavLink"  routerLink={{getUrlCaac()}}>
              <i class="fas fa-circle NavIcon" style="font-size: 140px;"></i>
            </a>
            <div style="margin-top: 15px;">
                <h5 class="card-title">{{caacTitle()}}</h5>
                <p class="card-text">{{caacSiglas()}}</p>
            </div>
          </div>

        </div>
        <div class="card text-center sinbordes">
          <div >
              <a class="NavLink " routerLink={{getUrlSigese()}}>
                <i class="fas fa-circle NavIcon" style="font-size: 140px;"></i>
              </a>
              <div style="margin-top: 15px;">
                  <h5 class="card-title">{{sigeseTitle()}}</h5>
                  <p class="card-text">{{sigeseSiglas()}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>

</div>

